<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/header :: header"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card-header py-3" style="float: right; padding-top: 0px !important;">
<!--                    <a class="btn btn-primary" href="/admin/purchase">Tạo mới</a>-->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="farmerTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Tên</th>
                                <th>SDT</th>
                                <th>Tuổi</th>
                                <th>Xã</th>
                                <th>Ngày Thêm</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer: ${customers}">
                                <td th:text="${customer.name}"></td>
                                <td th:text="${customer.phone}"></td>
                                <td th:text="${customer.age} ? ${customer.age} : ''"></td>
                                <td th:text="${customer.village} ? ${customer.village.name} : ''"></td>
                                <td th:text="${customer.createdAt} ? ${customer.createdAt} : ''"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/footer :: footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="/fragments/footer :: footer-js" />
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#farmerTable').DataTable();
    });
</script>
</body>

</html>
