<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        #pac-input {
            left: 15% !important;
        }

        .select2-container--default .select2-selection--single{
            padding:6px;
            height: 37px;
            font-size: 1em;
            position: relative;
            border: 0;
            border-bottom: 2px solid #aaa;
            margin-top: 2px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            width: 100%;
            font-size: 1.3em;
            padding: 4px 12px;
            height: 27px;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            border-right: 1.5em;
        }

        .select2-selection__rendered {
            color: #6e707e !important;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/header :: header"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-paste"></i>
                                </div>
                                <p class="card-category">Chờ thu</p>
                                <h3 class="card-title">
                                    <span th:text="${BEFORE_HARVEST}"></span>
                                    <small>vườn</small>
                                </h3>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-store-alt"></i>
                                </div>
                                <p class="card-category">Đang thu</p>
                                <h3 class="card-title"><span th:text="${IN_HARVEST}"></span> <small>vườn</small></h3>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-info-circle"></i>
                                </div>
                                <p class="card-category">Fixed Issues</p>
                                <h3 class="card-title">75</h3>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                                <p class="card-category">Followers</p>
                                <h3 class="card-title">+245</h3>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h6 class="card-title">Biểu đồ thu theo Nông sản</h6>
                            </div>
                            <div class="card-body">
                                <div class="wrap-input2" style="margin-bottom: 0">
                                    <input class="input2 date-picker">
                                    <span class="focus-input2" data-placeholder="Khoảng thời gian thống kê"></span>
                                </div>
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h6 class="card-title"> Biểu đồ thu chi</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h6 class="card-title">Bar Chart</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h6 class="card-title">Bar Chart</h6>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/footer :: footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="/fragments/footer :: footer-js" />
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script src="/js/demo/chart-bar-demo.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(".date-picker").each(function() {
        $(this).daterangepicker({
            startDate: moment().startOf('day'),
            endDate: moment().startOf('day').add(-30, 'day'),
            locale: { cancelLabel: 'Hủy',
                applyLabel: 'Áp dụng',
                "daysOfWeek": [ "CN", "T2", "T3", "T4", "T5", "T6", "T7", ],
                "monthNames": [ "1 -", "2 -", "3 -", "4 -", "5 -", "6 -", "7 -", "8 -", "9 -", "10 -", "11 -", "12 -" ],
                "format": "MM/DD/YYYY"}
        });
        $(this).addClass('has-val');

        $(this).on('apply.daterangepicker', function(ev, picker) {
            console.log(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            loadAgricultureChart(picker.startDate.format('MM/DD/YYYY'), picker.endDate.format('MM/DD/YYYY'));
            //reload chart in here
        });
    })


    function loadAgricultureChart(from, to) {
        $.ajax({
            url: "/admin/agriculture/statistical?from=" + from + "&to=" + to,
            success: function(response) {
                console.log(response);
            }, error: function(error) {
                console.log(error);
            }

        })
    }
</script>
</body>

</html>
