<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/header :: header"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card-header py-3" style="float: right; padding-top: 0px !important;">
                    <a href="/admin/purchase" type="button" class="btn btn-add-save"><i class="fas fa-plus pr-2"></i>Tạo mới</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Tên</th>
                                <th>SDT</th>
                                <th>Xã</th>
                                <th>Cây</th>
                                <th>Tổng thu</th>
                                <th>Tổng chi</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th></th>
                                <th style="display: none"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="purchase: ${purchases}">
                                <td th:text="${purchase.farmer.name}"></td>
                                <td th:text="${purchase.farmer.phone}"></td>
                                <td th:text="${purchase.village.name}"></td>
                                <td><span data-toggle="tooltip" th:title="'diện tích: ' + ${purchase.acreage} + '. Số lượng: ' + ${purchase.amount}" th:text="${purchase.agriculture.name}"></span></td>
                                <td th:text="${purchase.moneyIn}"></td>
                                <td th:text="${purchase.moneyOut}"></td>
                                <td th:text="${purchase.createdAt}"></td>
                                <td th:text="${purchase.status}"></td>
                                <td class="table-col-action">
                                    <span data-toggle="tooltip" title="Chỉnh sửa"><a class="btn btn-default-custom btn-edit" th:href="@{'/admin/purchase/' + ${purchase.id}}"><i class="fas fa-pencil-alt"></i></a></span>
                                    <span data-toggle="tooltip" title="Chỉ Đường"><a class="btn btn-default-custom btn-edit" th:href="@{'https://www.google.com/maps?saddr=My+Location&daddr=' + ${purchase.lat} + ',' + ${purchase.lng}}" target="_blank"><i class="fas fa-directions"></i></a></span>
                                </td>
                                <td th:text="${purchase.id}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/footer :: footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="/fragments/footer :: footer-js" />
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json"
            },
            'columnDefs': [{
                "targets":[4],
                "render": function ( data, type, row, meta ) {
                    return '<span data-toggle="tooltip" title="Danh sách thu"><a class="btn btn-default-custom btn-thu" href="/admin/purchase/' + row[9] + '/harvest">$'+formatNumber(data)+'</a></span>';
                }
            }, {
                "targets":[5],
                "render": function ( data, type, row, meta ) {
                    return '<span data-toggle="tooltip" title="Danh sách chi"><a class="btn btn-default-custom btn-chi" href="/admin/purchase/' + row[9] + '/feed">$'+formatNumber(data)+'</a></a></span>';
                }
            },{
                "targets":[6],
                "render": function ( data, type, row, meta ) {
                    return '<span data-toggle="tooltip" title="' + moment(data).format('HH:mm:ss') + '">' + moment(data).format('YYYY/MM/DD') + '</span>';
                }
            }, {
                "targets":[7],
                "render": function ( data, type, row, meta ) {
                    if(data == "IN_HARVEST")
                        return '<span style="color: green">Đang thu</span>';
                    else if (data == "AFTER_HARVEST")
                        return '<span style="color: gray">Tin đóng</span>';
                    else
                        return '<span style="color: cadetblue">Chờ thu</span>';
                }
            }, {
                "targets": [9],
                "visible": false
            }]
        });
    });
</script>
</body>

</html>
