<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/header :: header"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card-header py-3">
                    <a href="/admin/purchase/list" class="btn btn-return float-left" style="margin-bottom: 15px" type="button">
                        <i class="fas fa-chevron-left"></i> Trở về
                    </a>
                    <button class="btn btn-add-save btn-add-save-toggle collapsed float-right" style="margin-bottom: 15px" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-plus pr-2"></i>Tạo mới
                    </button>
                    <div class="collapse" id="collapseExample" style="transition-duration: 0.5s">
                        <div class="card card-body">
                            <form class="validation-form-api" ModelAttribute="purchase">
                                <div style="padding: 30px">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="wrap-input2 validate-input" data-validate="Thông tin bắt buộc">
                                                <input class="input2 required-input" name="kind" type="text">
                                                <span class="focus-input2" data-placeholder="Sản phảm"></span>
                                            </div>
                                            <div class="wrap-input2 validate-input" data-validate="Thông tin bắt buộc">
                                                <input class="input2 required-input" data-type='currency' name="price" type="text">
                                                <span class="focus-input2" data-placeholder="Giá tiền"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea placeholder="Ghi chú" class="form-control" name="note" rows="5"></textarea>
                                        </div>
                                        <div class="col-md-12 align-text-center">
                                            <button type="submit" id="submit-purchase-feed" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="feed-table" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>loại</th>
                                <th>Số tiền</th>
                                <th>Ghi chú</th>
                                <th>Ngày Thêm</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item: ${feeds}" th:id="${item.id}">
                                <td th:text="${item.kind}"></td>
                                <td th:text="${item.price}"></td>
                                <td th:text="${item.note}"></td>
                                <td th:text="${item.createdAt}"></td>
                                <td th:text="${item.id}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/footer :: footer"/>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="updateFeedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập Nhập</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updatePurchaseFeed">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrap-input2 validate-input" data-validate="Thông tin bắt buộc">
                                <input class="input2 required-input" id="update-kind" name="kind" type="text">
                                <span class="focus-input2" data-placeholder="Sản phảm"></span>
                            </div>
                            <div class="wrap-input2 validate-input" data-validate="Thông tin bắt buộc">
                                <input class="input2 required-input" id="update-price" data-type='currency' name="price" type="text">
                                <span class="focus-input2" data-placeholder="Giá tiền"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <textarea id="update-note" placeholder="Ghi chú" class="form-control" name="note" rows="5"></textarea>
                        </div>
                    </div>
                    <input id="update-id" type="hidden" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy Bỏ</button>
                <button class="btn btn-primary" onclick="updatePurchaseFeed()">Cập Nhập</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footer-js" />
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    var feedTable;
    $(document).ready(function() {
        feedTable = $('#feed-table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Vietnamese.json"
            },
            'columnDefs': [{
                "targets":[1],
                "render": function ( data, type, row, meta ) {
                    return "$" + formatNumber(data);
                }
            }, {
                "targets":[3],
                "render": function ( data, type, row, meta ) {
                    return '<span data-toggle="tooltip" title="' + moment(data).format('HH:mm:ss') + '">' + moment(data).format('YYYY/MM/DD') + '</span>';
                }
            }, {
                "targets":[4],
                "render": function ( data, type, row, meta ) {
                    return '<a data-toggle="tooltip" title="Xóa" class="btn btn-default-custom btn-delete" onclick="deletePurchaseFeed(' + data + ',this)" href="#"><i class="far fa-trash-alt"></i></a>\n' +
                        '<a data-toggle="tooltip" title="Chỉnh sửa" class="btn btn-default-custom btn-edit" href="#" onclick="showUpdatePurchaseFeed('+data+',\'' + row.join("','") +'\')"><i class="fas fa-pencil-alt"></i></a>'
                },
                "orderable": false,
                "className": "table-col-action"
            }]
        });

        $(".validation-form-api").on("submit", function(e) {
          e.preventDefault();
            var check = true;
            $(this).find(".required-input").each(function() {
                if($(this).val().trim() == ''){
                    showValidate($(this));
                    check=false;
                }
            });

            if(check) {
                $(".validation-form-api").find("input[data-type='currency']").each(function() {
                    try {
                        var value = this.value;
                        $(this).val(value.replace(/\D/g, ""));
                    } catch (e) {
                        console.log(e);
                    }
                });

                $.ajax({
                    url: "/admin/purchase/" + [[${purchaseId}]] + "/feed/add",
                    data: $(".validation-form-api").serialize(),
                    type: "post",
                    success: function (response) {
                        addRowToTableFeed(response);
                        Swal.fire(
                            'Thành Công!',
                            'Bạn đã tạo thành công!',
                            'success'
                        );
                    }, error: function (error) {
                        console.log("error create feed",error);
                        Swal.fire({
                            type: 'Lỗi',
                            title: 'Oops...',
                            text: 'Tạo thông thành công!'
                        })
                    }
                })
            }
        })
    });

    function addRowToTableFeed(response) {
        feedTable.row.add([response.kind, response.price, response.note, response.createdAt]).node().id = response.id;
        feedTable.draw( false );
    }

    function deletePurchaseFeed(item, thisa) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: 'Xác Nhận?',
            text: "Bạn có muốn xóa ",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            cancelButtonText: 'hủy bỏ',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
            $.ajax({
                url: "/admin/purchase/feed/" + item + "/delete",
                type: "delete",
                success: function(result) {
                    toastr.success("Xóa thành công");
                    feedTable.row("#" + item).remove().draw();
                }, error: function(error) {
                    alert(error);
                }
            })
            }
        })
    }

    function showUpdatePurchaseFeed(id, kind, price, note) {
        $("#updatePurchaseFeed").find("#update-id").val(id);
        $("#updatePurchaseFeed").find("#update-kind").val(kind);
        $("#updatePurchaseFeed").find("#update-price").val(price);
        $("#updatePurchaseFeed").find("#update-note").val(note);

        $("#updatePurchaseFeed").find('.input2').each(function(){
            if($(this).val().trim() != "") {
                $(this).addClass('has-val');
            }
            else {
                $(this).removeClass('has-val');
            }
        });

        $("#updateFeedModal").modal("show");
    }

    function updatePurchaseFeed() {
        var check = true;
        $("#updatePurchaseFeed").find(".required-input").each(function() {
            if($(this).val().trim() == ''){
                showValidate($(this));
                check=false;
            }
        });

        if(check) {
            $("#updatePurchaseFeed").find("input[data-type='currency']").each(function() {
                try {
                    var value = this.value;
                    $(this).val(value.replace(/\D/g, ""));
                } catch (e) {
                    console.log(e);
                }
            });

            $.ajax({
                url: "/admin/purchase/feed/update",
                data: $("#updatePurchaseFeed").serialize(),
                type: "post",
                success: function (response) {
                    $("#updateFeedModal").modal("hide");
                    feedTable.row("#" + response.id).remove().draw();
                    addRowToTableFeed(response);
                    Swal.fire(
                        'Thành Công!',
                        'Cập nhập thành công!',
                        'success'
                    );
                }, error: function (error) {
                    console.log("error create feed",error);
                    Swal.fire({
                        type: 'Lỗi',
                        title: 'Oops...',
                        text: 'Cập nhập không thành công!'
                    })
                }
            })
        }
    }
</script>
</body>

</html>
